<h1>Contacts</h1>
<a href="/contacts/new">Add new contact</a>

<ul>
  <% @contacts.each do |c| %>
    <li>
      <h3><%= c.name %></h3>
      <ul>
        <li><%= c.address %></li>
        <li><%= c.phone_number %></li>
        <li><%= c.email %></li>
      </ul>
    </li>
  <% end %>
</ul>
